<nav>
<div class="back-arrow"></div>
<h1>Payments</h1>
<h2><%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "from-submit-btn logout-btn" %></h2>
</nav>
<div class="category-container">

<% @categories.each do |category| %>
   <% if can? :read, category %>
<div class="category-item">
<div class="left-category-container">
<div class="category-icon">
<img src="<%= category.icon %>" class="icon-image" >
</div>
<div class="category-text-items">
<%= link_to category.name, category_path(category), class: "category-name" %>
<h3 class="category-date"><%= category.created_at.strftime('%Y-%b-%d') %></h3>
</div>
</div>
<h3 class="total-amount">$<%= category.cash_trackers.sum(:amount)%></h3>
</div>

<% end %>
<% end %>
</div>
<div class="payment-button-container">
<%= link_to "Add Payment", new_category_path, class: "payment-btn" %>
</div>